= form_for @preset do |f|
  - if @preset.errors.any?
    #error_explanation
      %h2= "#{pluralize(@preset.errors.count, "error")} prohibited this preset from being saved:"
      %ul
        - @preset.errors.full_messages.each do |message|
          %li= message
  .row.well-sm
    %span.col-xs-6
      =f.label :category_id
      =f.select :category_id, options_for_select(preset_category_options, @preset.category_id) ,{include_blank: true}, class: "form-control block"
      
  .row.well-sm
    %span.col-xs-6
      =f.label :title
      =f.text_field :title, class: "form-control block"
  
  .row.well-sm
    %span.col-xs-6
      =f.label :file_upload
      =f.file_field :file_upload, class: "form-control block"
  .row.well-sm
    %span.col-xs-6
      =f.label :status
      = f.check_box :status
    
  .row.well-sm.actions
    = f.submit 'Save', :class => 'btn btn-success'
