= form_for @preset, html: { class: "form form-horizontal preset" } do |f|
  .form-group
    = f.label :title, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :title, class: 'form-control', required: true
    = f.error_span(:title)
  .form-group
    = f.label :file_upload, class: 'control-label col-lg-2'
    .col-lg-10
      = f.file_field :path, class: 'form-control', required: true
    = f.error_span(:path)
  .form-group
    = f.label :category_id, class: 'control-label col-lg-2'
    .col-lg-10
      =f.select :category_id, options_for_select(preset_category_options, @preset.category_id) ,{include_blank: true}, class: "form-control block"
      =# f.text_field :category_id, class: 'form-control', required: true
    = f.error_span(:category_id)
  .form-group
    = f.label :status, class: 'control-label col-lg-2'
    .col-lg-10
      =f.select :status, options_for_select(Preset::STATUS,  Preset::STATUS[@preset.status ? 0 : 1]) ,{include_blank: true, required: true}, class: "form-control block"
    = f.error_span(:status)
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit nil,class: 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), presets_path, :class => 'btn btn-default'
